extends layout

block content

  header
    h1.text-center CCI
    p.text-center Descriptors: state a career highlight then choose those descriptors that you feel describe what you contributed to the achievement.
  br

  ul.nav.nav-tabs
    li
      a(href="main#nav" data-toggle="tab") Achievements and Contributions
    li.active
      a(href="main#article" data-toggle="tab") Add Achievement
    li
      a(href="main#wordtally" data-toggle="tab") Word Tally

  .tab-content
    main#nav.tab-pane
      h3  List of 3-8 Achievements
        include listAchievement
      
    main#article.tab-pane.active 
      h3 Achievment Entry
      //- include addAchievement
      main
        main#descriptors
          h3 Descriptors
            ul
              each descrip in descripbuttons
                button.btn.btn-xs#descrip
                  = descrip.contribution
                  
    main#wordtally.tab-pane oh holy crap

  

  footer footer


