- if(achievements.length)
  table.table.table-bordered
    tr
      th Achievement
      th Contribution
        each ach in achievements
          tr
            td #{ach.index}
            td #{ach.achievement}
            td #{ach.contribution}
-else
  br
  br
  br
  button.btn.btn-xs
    a(href="/") Go to the 'Add Achievement' tab and enter three to six achievements.
